.git
.github
.gitignore
.dockerignore
.env
.env.*
!.env.example

vendor
node_modules

storage/cache/**
storage/sessions/**
storage/logs/**
storage/tmp/**
storage/media/**

cookies.txt
cookies3.txt
*.log
.DS_Store
Thumbs.db

docs/**/*.html
planilhas
erros
sistema

Dockerfile
docker-compose*.yml
README.md
.php-cs-fixer.php
